[submodule "lib/eznet"]
	path = lib/eznet
	url = https://github.com/Lusito/eznet.git
	branch = develop
	ignore = untracked
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	ignore = untracked
[submodule "lib/ecstasy"]
	path = lib/ecstasy
	url = https://github.com/Lusito/ecstasy.git
	branch = feature/cmake
	ignore = untracked
